@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Color styles */
--main--light: rgba(246, 250, 251, 1);
--main--dark: rgba(45, 9, 53, 1);

--grey--3: rgba(240, 243, 245, 1);
--grey--10: rgba(226, 226, 232, 1);
--grey--20: rgba(206, 202, 212, 1);
--grey--30: rgba(187, 177, 193, 1);
--grey--50: rgba(147, 129, 154, 1);
--grey--70: rgba(108, 80, 116, 1);
--grey--90: rgba(68, 32, 77, 1);

--brand--brand: rgba(172, 27, 205, 1);
--brand--accent-1: rgba(210, 52, 131, 1);
--brand--accent-2: rgba(27, 152, 205, 1);
--brand--accent-3: rgba(255, 212, 0, 1);

--brand--brand--40-d: rgba(96, 16, 114, 1);
--brand--brand--50-l: rgba(209, 139, 228, 1);
--brand--brand--70-d: rgba(134, 22, 159, 1);
--brand--brand--20-d: rgba(70, 13, 83, 1);
--brand--brand--15-l: rgba(235, 217, 244, 1);
--brand--brand--5-l: rgba(242, 239, 249, 1);

--brand--accent--3-5-l: rgba(246, 248, 238, 1);
--brand--accent--3-15-l: rgba(247, 244, 213, 1);
--brand--accent--3-50-l: rgba(251, 231, 126, 1);
--brand--accent--3-70-d: rgba(192, 151, 16, 1);
--brand--accent--3-40-d: rgba(150, 111, 26, 1);
--brand--accent--3-20--d: rgba(87, 50, 42, 1);

--brand--accent--2-20-d: rgba(41, 38, 83, 1);
--brand--accent--2-40-d: rgba(38, 66, 114, 1);
--brand--accent--2-70-d: rgba(32, 109, 159, 1);
--brand--accent--2-50-l: rgba(137, 201, 228, 1);
--brand--accent--2-15-l: rgba(213, 235, 244, 1);
--brand--accent--2-5-l: rgba(235, 245, 249, 1);

--brand--accent--1-20-d: rgba(78, 18, 69, 1);
--brand--accent--1-40-d: rgba(111, 26, 84, 1);
--brand--accent--1-70-d: rgba(160, 39, 108, 1);
--brand--accent--1-50-l: rgba(228, 151, 191, 1);
--brand--accent--1-15-l: rgba(241, 220, 233, 1);
--brand--accent--1-5-l: rgba(244, 240, 245, 1);

--feedback--danger--light: rgba(243, 204, 204, 1);
--feedback--danger--medium: rgba(235, 32, 35, 1);
--feedback--danger--dark: rgba(148, 15, 17, 1);

--feedback--warning--light: rgba(246, 239, 185, 1);
--feedback--warning--medium: rgba(255, 227, 28, 1);
--feedback--warning--dark: rgba(156, 138, 12, 1);

--feedback--success--light: rgba(192, 236, 188, 1);
--feedback--success--medium: rgba(67, 208, 55, 1);
--feedback--success--dark: rgba(43, 130, 35, 1);

--link--link: rgba(48, 39, 221, 1);
--link--hover: rgba(45, 39, 169, 1);
--link--active: rgba(20, 17, 86, 1);
--link--visited: rgba(110, 35, 138, 1);

/* Text-size styles */
/*--caption: 8px;
--code: 16px;
--title--h1: 64px;
--title--h2: 36px;
--title--h3: 24px;
--title--h4: 20px;
--body--large: 24px;
--body--medium: 20px;
--body--small: 16px;*/

/* Text-size styles */
/* base size: body--small (16px) */

--title--h1: 4rem;
--title--h2: 2.25rem;
--title--h3: 1.75rem;
--title--h4: 1.25rem;
--body--large: 1.5rem;
--body--medium: 1.25rem;
--body--small: 1rem;


/* Grid size */
--grid-1: 100px;
--grid-gap: 20px;
--grid-2: calc(var(--grid-1)*2 + var(--grid-gap));
--grid-3: calc(var(--grid-1)*3 + var(--grid-gap)*2);
--grid-4: calc(var(--grid-1)*4 + var(--grid-gap)*3);
--grid-5: calc(var(--grid-1)*5 + var(--grid-gap)*4);
--grid-6: calc(var(--grid-1)*6 + var(--grid-gap)*5);
--grid-side-menu: 250px;

/* Отступы */
--indent-x-x-x-small: 0.25rem; /*4px*/
--indent-x-x-small: 0.5rem; /*8px*/
--indent-x-small: 0.75rem; /*12px*/
--indent-small: 1rem; /*16px*/
--indent-medium: 1.25rem; /*20px*/
--indent-large: 1.5rem; /*24px*/

/* Радиусы */
--radius-large: 1.25rem; /*20px*/
--radius-small: 0.75rem; /*12px*/
--radius-extrasmall: 0.5rem; /*8px*/
}

.advise, .example-container, .illustration-container {
    margin-bottom: 40px;
}

.grid3 {    width: var(--grid-3);}
.grid2 {    width: var(--grid-2);}
.grid6 {    width: var(--grid-6);}

/* ||| Пример Да Нет*/

.example-container, .illustration-container {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gap);
    row-gap: var(--grid-gap);
    max-width: var(--grid-6);
    flex-wrap: wrap;
    padding-left: 0;
}

.example {
    box-sizing: border-box;
    border: 2px solid;
    border-radius: var(--radius-large);
    padding: 0  var(--indent-x-small) var(--indent-medium) var(--indent-x-small);
}
.example div {
    display: flex;
    flex-direction: row;
    gap: var(--indent-x-x-small);
    align-items:flex-start;

}
.example .heading {    
    font-size: var(--title--h4);
    margin-bottom: 8px;
}
.example div img {
    margin-top: var(--indent-medium);
}
.explanation {    color: var(--grey--50);}
.example>img {    width:100%; }
.example p:not(.heading), .example li {
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--body--small);
}

.example.yes {    border-color: var(--feedback--success--light);}
.example.no {    border-color: var(--feedback--danger--light);}
.example.acceptable {    border-color: var(--feedback--warning--light);}

.example.yes .heading ::before {    content: "Да";    }
.example.no .heading ::before {    content: "Нет";}
.example.definetely.no .heading ::before {    content: "Ни в коем случае";}
.example.acceptable .heading ::before {    content: "Допустимо";}

.example.yes .heading {    color: var(--feedback--success--dark);}
.example.no .heading {    color: var(--feedback--danger--dark);}
.example.acceptable .heading {    color: var(--feedback--warning--dark);}


#grey-mistake {
    color: var(--grey--20);
    font-size: var(--body--small);
}

#grey-example {
    color: var(--grey--90);
    font-size: var(--body--small);
}

.warning-text {
    color: var(--feedback--danger--dark);
}

.warning-text, #grey-mistake {
    font-size: var(--body--small);
}

/* ||| Совет*/
.advise {
    display: flex;
    flex-direction: row;
    background: linear-gradient(0.25turn, var(--grey--90),var(--grey--70));
    gap:var(--indent-x-small);
    width:var(--grid-6);
    border-radius: var(--radius-large);
    box-sizing: border-box;
    padding: 0  var(--indent-x-small) var(--indent-x-x-small) var(--indent-x-small);

}
.advise p {
    color:var(--main--light);
    font-size: var(--body--medium);
    margin-bottom: var(--body--small);

    margin-top: 0;
}
.advise div p:first-of-type:before {
    content: "Совет";
    font-weight: 800;
    color: var(--brand--accent-3);
    display: block;
    margin-bottom: var(--indent-x-small);
    margin-top: var(--indent-medium);
}

.hide {
    display: none;
}

/*||| Кнопки */

button {
    display: flex;
    align-items: center;
}
button:hover, button:active {
    cursor: pointer;
}
.select-container {
    display: flex;
    flex-direction: column;
    margin: var(--indent-x-x-small) var(--indent-x-x-small);
}
.select-container label {
    margin-left: var(--indent-medium);
}
.select-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.select-container button {
    width: min-content;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 100%;
    font-size: var(--body--medium);
    background-color: var(--main--light);
    padding-right: 15px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 15 15"><path d="M 8,5.5 11,9.5 14,5.5 z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center right;
}

/*Размеры*/

/*Размеры общие*/
.large-button {
    padding: var(--indent-x-small) var(--indent-medium);
    border-radius: var(--radius-large);
    font-size: var(--body--large);
    border-width: 2.5px;
}
.medium-button, .select-container div {
    padding: var(--indent-x-x-small) var(--indent-small);
    border-radius: var(--radius-small);
    font-size: var(--body--medium);
    border-width: 2.25px;
} 

.small-button {
    padding: var(--indent-x-x-x-small) var(--indent-x-x-small);
    border-radius: var(--radius-extrasmall);
    font-size: var(--body--small);
    border-width: 2px;
}

/*Размеры кнопок с иконками*/
.large-button img {
    height: var(--body--large);
}
.medium-button img, .select-container>div>img {
    height: var(--body--medium);
}
.small-button img {
    height: var(--body--small);
}

.large-button.icon-left-button, .large-button.icon-both-button {
    padding-left: var(--indent-x-small);
    gap: var(--indent-x-x-small);
}
.large-button.icon-right-button, .large-button.icon-both-button {
    padding-right: var(--indent-x-small);
    gap: var(--indent-x-x-small);
}
.large-button.icon-only-button {
    padding: var(--indent-small);
}

.medium-button.icon-left-button, .medium-button.icon-both-button, .select-container.icon-left-select div  {
    padding-left: var(--indent-x-x-small);
    gap: var(--indent-x-x-x-small);
}
.medium-button.icon-right-button, .medium-button.icon-both-button {
    padding-right: var(--indent-x-x-small);
    gap: var(--indent-x-x-x-small);
}
.medium-button.icon-only-button {
    padding: var(--indent-x-small);
}

.small-button.icon-left-button, .small-button.icon-both-button {
    padding-left: var(--indent-x-x-x-small);
    gap: var(--indent-x-x-x-small);
}
.small-button.icon-right-button, .small-button.icon-both-button {
    padding-right: var(--indent-x-x-x-small);
    gap: var(--indent-x-x-x-small);
}
.small-button.icon-only-button {
    padding: var(--indent-x-x-small);
}

/*Стили*/
.primary-button {
    background-color: var(--brand--brand);
    border: none;
    color: var(--main--light);
}

.primary-button:hover {    background-color: var(--brand--brand--70-d);}
.primary-button:active {    background-color: var(--brand--brand--40-d);}

.secondary-button, .select-container div {
    background-color:transparent;
    border-style: solid;
    border-color: var(--brand--brand);
    color: var(--brand--brand);
}
.secondary-button img, .select-container img {
    filter: invert(0.7) sepia(1) saturate(5) hue-rotate(245deg);
}

.secondary-button:hover img {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(230deg) brightness(0.6);
}
.secondary-button:active img {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(230deg) brightness(0.4);
}
.secondary-button:hover, .select-container:hover div {    
    border-color: var(--brand--brand--70-d);
    color: var(--brand--brand--70-d);
}
.secondary-button:active, .select-container:active div {    
    border-color: var(--brand--brand--40-d);
    color: var(--brand--brand--40-d);
}

.empty-button, .input-wrapper button {
    background-color:transparent;
    border: none;
    color: var(--brand--brand)
}
.empty-button img {
    filter: invert(0.7) sepia(1) saturate(5) hue-rotate(245deg);
}

.empty-button:hover img {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(230deg) brightness(0.6);
}
.empty-button:active img {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(230deg) brightness(0.4);
}
.empty-button:hover, .input-wrapper button:hover {
    color: var(--brand--brand--70-d);
}
.empty-button:active, .input-wrapper button:active {
    color: var(--brand--brand--40-d);
}

/* ||| Чекбоксы*/
[type="checkbox"]
{
    vertical-align:middle;
}

label:has([type="checkbox"]) {
    font-size: var(--body--medium);
}