@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Color styles */
--main--light: rgba(246, 250, 251, 1);
--main--dark: rgba(45, 9, 53, 1);

--grey--3: rgba(240, 243, 245, 1);
--grey--10: rgba(226, 226, 232, 1);
--grey--20: rgba(206, 202, 212, 1);
--grey--30: rgba(187, 177, 193, 1);
--grey--50: rgba(147, 129, 154, 1);
--grey--70: rgba(108, 80, 116, 1);
--grey--90: rgba(68, 32, 77, 1);

--brand--brand: rgba(172, 27, 205, 1);
--brand--accent-1: rgba(210, 52, 131, 1);
--brand--accent-2: rgba(27, 152, 205, 1);
--brand--accent-3: rgba(255, 212, 0, 1);

--brand--brand--40-d: rgba(96, 16, 114, 1);
--brand--brand--50-l: rgba(209, 139, 228, 1);
--brand--brand--70-d: rgba(134, 22, 159, 1);
--brand--brand--20-d: rgba(70, 13, 83, 1);
--brand--brand--15-l: rgba(235, 217, 244, 1);
--brand--brand--5-l: rgba(242, 239, 249, 1);

--brand--accent--3-5-l: rgba(246, 248, 238, 1);
--brand--accent--3-15-l: rgba(247, 244, 213, 1);
--brand--accent--3-50-l: rgba(251, 231, 126, 1);
--brand--accent--3-70-d: rgba(192, 151, 16, 1);
--brand--accent--3-40-d: rgba(150, 111, 26, 1);
--brand--accent--3-20--d: rgba(87, 50, 42, 1);

--brand--accent--2-20-d: rgba(41, 38, 83, 1);
--brand--accent--2-40-d: rgba(38, 66, 114, 1);
--brand--accent--2-70-d: rgba(32, 109, 159, 1);
--brand--accent--2-50-l: rgba(137, 201, 228, 1);
--brand--accent--2-15-l: rgba(213, 235, 244, 1);
--brand--accent--2-5-l: rgba(235, 245, 249, 1);

--brand--accent--1-20-d: rgba(78, 18, 69, 1);
--brand--accent--1-40-d: rgba(111, 26, 84, 1);
--brand--accent--1-70-d: rgba(160, 39, 108, 1);
--brand--accent--1-50-l: rgba(228, 151, 191, 1);
--brand--accent--1-15-l: rgba(241, 220, 233, 1);
--brand--accent--1-5-l: rgba(244, 240, 245, 1);

--feedback--danger--light: rgba(243, 204, 204, 1);
--feedback--danger--medium: rgba(235, 32, 35, 1);
--feedback--danger--dark: rgba(148, 15, 17, 1);

--feedback--warning--light: rgba(246, 239, 185, 1);
--feedback--warning--medium: rgba(255, 227, 28, 1);
--feedback--warning--dark: rgba(156, 138, 12, 1);

--feedback--success--light: rgba(192, 236, 188, 1);
--feedback--success--medium: rgba(67, 208, 55, 1);
--feedback--success--dark: rgba(43, 130, 35, 1);

--link--link: rgba(48, 39, 221, 1);
--link--hover: rgba(45, 39, 169, 1);
--link--active: rgba(20, 17, 86, 1);
--link--visited: rgba(110, 35, 138, 1);

/* Text-size styles */
/*--caption: 8px;
--code: 16px;
--title--h1: 64px;
--title--h2: 36px;
--title--h3: 24px;
--title--h4: 20px;
--body--large: 24px;
--body--medium: 20px;
--body--small: 16px;*/

/* Text-size styles */
/* base size: body--small (16px) */
--caption: 0.75rem;
--title--h1: 4rem;
--title--h2: 2.25rem;
--title--h3: 1.5rem;
--title--h4: 1.25rem;
--body--large: 1.5rem;
--body--medium: 1.25rem;
--body--small: 1rem;


/* Grid size */
--grid-1: 100px;
--grid-gap: 20px;
--grid-2: calc(var(--grid-1)*2 + var(--grid-gap));
--grid-3: calc(var(--grid-1)*3 + var(--grid-gap)*2);
--grid-4: calc(var(--grid-1)*4 + var(--grid-gap)*3);
--grid-5: calc(var(--grid-1)*5 + var(--grid-gap)*4);
--grid-6: calc(var(--grid-1)*6 + var(--grid-gap)*5);
--grid-side-menu: 200px;

}

body {background-color: var(--main--light);} 

/*||| Шрифты*/
body {font-family: "Nunito", sans-serif;}
code {font-family: "Roboto Mono", monospace;}


/*||| Цвета типографики*/

h1, h2, h3, h4 {color: var(--brand--brand--40-d);}

p {color: var(--main--dark);}

a {color: var(--link--link);}
a:hover {color: var(--link--hover);}
a:active {color: var(--link--active);}
a:visited {color: var(--link--visited);}

/*||| Размеры и отступы типографики*/
h1 {
    font-size: var(--title--h1);
    margin-bottom: var(--title--h1);
}
h2 {
    font-size: var(--title--h2);
    margin-bottom: var(--title--h2);
}
h3 {
    font-size: var(--title--h3);
    margin-bottom: var(--title--h3);
}
h4{
    font-size: var(--title--h4);
    margin-bottom: var(--title--h4);
}

h1, h2, h3, h4 {line-height: 130%;}

p.large-text,a.large-text,.side-menu>a {
    font-size: var(--body--large);
    margin-bottom: var(--body--large);
}
p.medium-text,a.medium-text, code {
    font-size: var(--body--medium);
    margin-bottom: var(--body--medium);
}
p.small-text,a.small-text {
    font-size: var(--body--small);
    margin-bottom: var(--body--small);
}

p,a {line-height: 150%;}

/*||| Декорация типографики*/
b, strong, .side-menu>a, h1, h2, h3, h4  {
    font-weight: 800;
}
p, a, code {
    font-weight: 500;
}
.side-menu>a {
    text-decoration: underline;
}

main>img {
    width: 50%;
}

aside{
    background-color: var(--brand--accent--2-5-l);
    width: 300px;
}

nav > ul{
    padding-inline-start: 24px;
}

.side-menu-heading{
    list-style: none;
    color: var(--brand--brand);
    font-size: var(--title--h4);
    font-weight: 800;
    padding-top: var(--sidemenu);
    padding-bottom: var(--sidemenu);
}

.side-menu-element{
    list-style: none;
    color: var(--main--dark);
    font-size: var(--body--large);
    font-weight: 500;
    padding-top: var(--sidemenu);
    padding-bottom: var(--sidemenu);
}

.side-menu-element > a{
    text-decoration: none;
    color: var(--main--dark);
}