@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Color styles */
--main--light: rgba(246, 250, 251, 1);
--main--dark: rgba(45, 9, 53, 1);

--grey--3: rgba(240, 243, 245, 1);
--grey--10: rgba(226, 226, 232, 1);
--grey--20: rgba(206, 202, 212, 1);
--grey--30: rgba(187, 177, 193, 1);
--grey--50: rgba(147, 129, 154, 1);
--grey--70: rgba(108, 80, 116, 1);
--grey--90: rgba(68, 32, 77, 1);

--brand--brand: rgba(172, 27, 205, 1);
--brand--accent-1: rgba(210, 52, 131, 1);
--brand--accent-2: rgba(27, 152, 205, 1);
--brand--accent-3: rgba(255, 212, 0, 1);

--brand--brand--40-d: rgba(96, 16, 114, 1);
--brand--brand--50-l: rgba(209, 139, 228, 1);
--brand--brand--70-d: rgba(134, 22, 159, 1);
--brand--brand--20-d: rgba(70, 13, 83, 1);
--brand--brand--15-l: rgba(235, 217, 244, 1);
--brand--brand--5-l: rgba(242, 239, 249, 1);

--brand--accent--3-5-l: rgba(246, 248, 238, 1);
--brand--accent--3-15-l: rgba(247, 244, 213, 1);
--brand--accent--3-50-l: rgba(251, 231, 126, 1);
--brand--accent--3-70-d: rgba(192, 151, 16, 1);
--brand--accent--3-40-d: rgba(150, 111, 26, 1);
--brand--accent--3-20--d: rgba(87, 50, 42, 1);

--brand--accent--2-20-d: rgba(41, 38, 83, 1);
--brand--accent--2-40-d: rgba(38, 66, 114, 1);
--brand--accent--2-70-d: rgba(32, 109, 159, 1);
--brand--accent--2-50-l: rgba(137, 201, 228, 1);
--brand--accent--2-15-l: rgba(213, 235, 244, 1);
--brand--accent--2-5-l: rgba(235, 245, 249, 1);

--brand--accent--1-20-d: rgba(78, 18, 69, 1);
--brand--accent--1-40-d: rgba(111, 26, 84, 1);
--brand--accent--1-70-d: rgba(160, 39, 108, 1);
--brand--accent--1-50-l: rgba(228, 151, 191, 1);
--brand--accent--1-15-l: rgba(241, 220, 233, 1);
--brand--accent--1-5-l: rgba(244, 240, 245, 1);

--feedback--danger--light: rgba(243, 204, 204, 1);
--feedback--danger--medium: rgba(235, 32, 35, 1);
--feedback--danger--dark: rgba(148, 15, 17, 1);

--feedback--warning--light: rgba(246, 239, 185, 1);
--feedback--warning--medium: rgba(255, 227, 28, 1);
--feedback--warning--dark: rgba(156, 138, 12, 1);

--feedback--success--light: rgba(192, 236, 188, 1);
--feedback--success--medium: rgba(67, 208, 55, 1);
--feedback--success--dark: rgba(43, 130, 35, 1);

--link--link: rgba(48, 39, 221, 1);
--link--hover: rgba(45, 39, 169, 1);
--link--active: rgba(20, 17, 86, 1);
--link--visited: rgba(110, 35, 138, 1);

/* Text-size styles */
/*--caption: 8px;
--code: 16px;
--title--h1: 64px;
--title--h2: 36px;
--title--h3: 24px;
--title--h4: 20px;
--body--large: 24px;
--body--medium: 20px;
--body--small: 16px;*/

/* Text-size styles */
/* base size: body--small (16px) */

--caption: 0.75rem;
--title--h1: 4rem;
--title--h2: 2.25rem;
--title--h3: 1.75rem;
--title--h4: 1.25rem;
--body--large: 1.5rem;
--body--medium: 1.25rem;
--body--small: 1rem;

--weight--bold: 800;
--weight--regular: 500;


/* Grid size */
--grid-1: 100px;
--grid-gap: 20px;
--grid-2: calc(var(--grid-1)*2 + var(--grid-gap));
--grid-3: calc(var(--grid-1)*3 + var(--grid-gap)*2);
--grid-4: calc(var(--grid-1)*4 + var(--grid-gap)*3);
--grid-5: calc(var(--grid-1)*5 + var(--grid-gap)*4);
--grid-6: calc(var(--grid-1)*6 + var(--grid-gap)*5);
--grid-side-menu: 250px;

/* Отступы */
--sidemenu: 0rem;
--indent-x-x-x-small: 0.25rem; /*4px*/
--indent-x-x-small: 0.5rem; /*8px*/
--indent-x-small: 0.75rem; /*12px*/
--indent-small-new: 1rem; /*16px*/
--indent-medium: 1.25rem; /*20px*/
--indent-large: 1.5rem; /*24px*/

/* Радиусы */
--radius-large: 1.25rem; /*20px*/

}

body {
    background-color: var(--main--light);
    display: flex;
    align-items: flex-start; 
    margin: 0;
    padding: 0;
} 
body>span {
    position: absolute;
    background-color: var(--brand--accent--2-15-l);
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 172px;
    float: left;
}
main {
    max-width: var(--grid-6);
    width: var(--grid-6);
    margin:0 auto;
}
/*||| Шрифты*/
body * {font-family: "Nunito", sans-serif;}
code {font-family: "Roboto Mono", monospace;}


/*||| Цвета типографики*/

h1, h2, h3, h4 {color: var(--brand--brand--40-d);}

h1 {
    height: 172px;
    display: flex;
    align-items: center;
    margin: 0;   
}

p {color: var(--main--dark);}

a {color: var(--link--link);}
a:hover {color: var(--link--hover);}
a:active {color: var(--link--active);}
a:visited {color: var(--link--visited);}

/*||| Размеры и отступы типографики*/
h1 {
    font-size: var(--title--h1);
    margin-bottom: var(--title--h2);
}
h2 {
    font-size: var(--title--h2);
    margin-bottom: var(--title--h3);
}
h3 {
    font-size: var(--title--h3);
    margin-bottom: var(--title--h4);
}
h4{
    font-size: var(--title--h4);
    margin-bottom: var(--body--small);
}

h1, h2, h3, h4 {line-height: 130%;}

p.large-text,a.large-text,.side-menu>a,li.large-text {
    font-size: var(--body--large);
    margin-bottom: var(--body--medium);
}
p.medium-text,a.medium-text, code, li {
    font-size: var(--body--medium);
    margin-bottom: var(--body--small);
}
code {
    margin-bottom:0;
}
p.small-text,a.small-text, li.small-text {
    font-size: var(--body--small);
    margin-bottom: var(--caption);
}

p,a {line-height: 150%;}

/*||| Декорация типографики*/
b, strong, .side-menu>a, h1, h2, h3, h4  {
    font-weight: var(--weight--bold);
}
p, a, code {
    font-weight: var(--weight--regular);
}
.side-menu>a {
    text-decoration: underline;
}

main>img {
    width: 100%;
}

aside{
    background-color: var(--brand--accent--2-5-l);
    position: sticky;
    /*position: -webkit-sticky; /*для сафари*/
    top: 0;
    flex: 0 0 var(--grid-side-menu);
    height: 100vh;
}

nav > ul{
    padding-inline-start: var(--indent-large);
    padding-inline-end: var(--indent-large);
    padding-top: var(--sidemenu);
}

/* подзаголовки */
.side-menu-heading, aside > nav > ul > li{
    list-style: none;
    color: var(--brand--brand);
    font-size: var(--body--small);
    font-weight: var(--weight--bold);
    padding-top: var(--sidemenu);
    padding-bottom: var(--sidemenu);
    margin-bottom: 0;
}

.side-menu-element, aside > nav > ul > li > ul > li{
    list-style: none;
    color: var(--main--dark);
    font-size: var(--body--small);
    font-weight: var(--weight--regular);
    padding-top: var(--indent-x-x-small);
    padding-bottom: var(--indent-x-x-small);
    margin-bottom: 0;
}

.side-menu-element > a, aside > nav > ul > li > ul > li > a {
    text-decoration: none;
    color: var(--main--dark);
}

nav ul img{
    width: 100%;
    padding-top: var(--indent-x-small);
    padding-bottom: var(--indent-x-small);
}

nav ul .active {
    text-decoration: underline;
    font-weight: var(--weight--bold);
}

pre {
    font-size: 1rem;
    overflow: auto;
    width: auto;
    max-height: 50vh;
    border-radius: var(--radius-large);
    position: relative;
}

.card{
    width: var(--grid-2);
    height: var(--grid-2);
    border-radius: var(--radius-large);
    overflow:hidden;
    text-decoration: none;
}

.card_background{
    width: 100%;
    height: 80%;
    background-color: var(--grey--3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_background > img{
    width: 80%;
}

.example_card>.card_title{
        background-color: var(--brand--brand);
        justify-content: center;
        padding-left: 0;
        font-weight: var(--weight--regular);
}

#example_card_blue{
    box-sizing: border-box;
    border: 2px solid var(--brand--accent--2-70-d);
}
#example_card_yellow{
    box-sizing: border-box;
    border: 2px solid var(--brand--accent--3-70-d);
}
#example_card_red{
    box-sizing: border-box;
    border: 2px solid var(--brand--accent--1-70-d);
}


#example_card_blue>.card_title{
        background-color: var(--brand--accent--2-70-d);
}

#example_card_yellow>.card_title{
        background-color: var(--brand--accent--3-70-d);
}

#example_card_red>.card_title{
        background-color: var(--brand--accent--1-70-d);
}


.card_title{
    width: 100%;
    height: 20%;
    background-color: var(--brand--brand--50-l);
    font-size: var(--body--medium);
    font-weight: var(--weight--bold);
    color: var(--main--light);
    padding-left: var(--indent-x-small);
    display: flex;
    align-items: center;
}

.card_section{
    display: flex;
    flex-direction: row;
    gap: var(--grid-gap);
    flex-wrap: wrap;
}

/* ||| Иллюстрация*/
.illustration-container li {
    display: flex;
    flex-direction: column; 
}
.illustration-container img {
    width: 100%;
}


/** ||| JS copy Code **/

.js-copy-btn {
position:absolute;
right: 0;
bottom: 0;
z-index: 2;
padding: 0.75rem;
}

pre:hover .js-copy-btn {
  opacity: 0.2;
}

pre .js-copy-btn:hover {
  opacity: 0.4;
  cursor: pointer;
  cursor: hand;
}

.js-copy-done {
position: absolute;
left: 50%;
transform: translate(-50%, -50%);
top: 50%;
background-color: rgba(0, 0, 0, 0.6);
color: white;
padding: .75rem 1.5rem;
border-radius: 3px;
transition: opacity 0.5s;
}

/*.js-copy-done.faded {
opacity: 0;
}*/